<div class="cotainer">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="container">

    <div class="col-40">
      <mat-form-field class="full-width">
        <mat-select placeholder="Stock market" formControlName="stock" [(ngModel)]="DataSet.stock">
          <mat-option *ngFor="let state of stock_logo" [value]="state.index">
            <img style="vertical-align:middle;" aria-hidden src="{{state.url}}" height="25" />
            <span>{{ state.index }}</span> | <small>{{state.name}} </small>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput formControlName="start" [(ngModel)]="DataSet.start" [matDatepicker]="dp1" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput formControlName="end" [(ngModel)]="DataSet.end" [matDatepicker]="dp2" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>

    </div>

    <!--************************************************************************************************  
        We will teach ANN using just the PRICE 
        but still we hace Percentage_of_change for testing just 
        in future we will see what TODO next 
        ************************************************************************************************ -->
    <div class="col-40 check-box-block">
      <mat-checkbox class="full-width" formControlName="price" [(ngModel)]="DataSet.price">
        Price
      </mat-checkbox>
      <mat-checkbox class="full-width" formControlName="percenteg" [(ngModel)]="DataSet.percenteg">
        Percentage of change
      </mat-checkbox>
      <mat-checkbox class="full-width" formControlName="micro_date" [(ngModel)]="DataSet.micro_date">
        Date
      </mat-checkbox>
      <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">save changes</button>
      <button mat-raised-button color="primary" (click)="LOG()">LOG</button>
    </div>

    <!-- <button mat-raised-button color="warn" (click)="reset()" dir="auto">reset</button> -->
  </form>
</div>