.toolbar {
    position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.toolbar-raw span{
  margin-right: 15px;
}

span a {
  color: white;
  text-decoration: none;
}