<mat-toolbar class="toolbar" color="primary" role="header">
    <mat-toolbar-row class="toolbar-raw">
        <span>
            <a href="/">Home</a>
        </span>

        <span>
            <a routerLink="/lab" >Lab</a>
        </span>
        <span>
            <a routerLink="/lab-2" >Lab 2</a>
        </span>
        <!-- <span>
            <a routerLink="/" >Samples</a>
        </span> -->
        <!-- <span>
            <a href="https://bitbucket.org/saljan/predict-stock-market-price" target="_blank">GitHub</a>
        </span> -->
        <span>
            <a href="https://predict-price-bitcoin.firebaseapp.com/index.html" >Old version</a>
            <!-- <a href="../version-1.html" >Old version</a> -->
        </span>
    </mat-toolbar-row>
</mat-toolbar>