<div class="col-40">
  <span>EPOC : {{ current_epoc }}</span>
  <mat-form-field class="full-width tm-5">
    <input matInput placeholder="Line stroke" [(ngModel)]="stroke" />
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Interval of iterations" [(ngModel)]="interval" />
    <span matSuffix> sec.</span>
  </mat-form-field>
  <button mat-fab color="primary" (click)="onClick()" *ngIf="start">simulate</button>
  <button mat-fab color="primary" (click)="stop_proccess()" *ngIf="!start">stop</button>


</div>

<div class="col-58">
  <div id="neural-svg"></div>
  <button mat-fab color="primary" (click)="onStatic()">statics</button>
  <ul *ngIf="!hide_static">
    <li>Min : {{ min }}</li>
    <li>Max : {{ max }}</li>
    <li>Median : {{ median }}</li>
    <li>Mean : {{ mean }}</li>
    <li>Quantile 1 : {{ quantile25 }}</li>
    <li>Quantile 3 : {{ quantile75 }}</li>
    <li>Variance : {{ variance }}</li>
    <li>Deviation : {{ deviation }}</li>
  </ul>
</div>