<h1>Home</h1>


<div>
    <h1>Build ANN</h1>
    <p>
        We build ANN as the parameters show under
    </p>
    <img src="assets/1.png" alt="">
</div>


<div>
    <h1>Learn</h1>
    <p>
        Start learn ANN for 100 EPOC, Learning rate = 0.1, I repeat that three time at END we learn ANN for 300 EPOCS
    </p>
    <table class="">
        <thead>
            <tr>
                <th>ERRORS</th>
                <th>Outputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="assets/er-lr-1.png" class="img-er"></td>
                <td><img src="assets/out-lr-1.png" class="img-out"></td>
            </tr>
            <tr>
                <td><img src="assets/er-lr-2.png" class="img-er"></td>
                <td><img src="assets/out-lr-2.png" class="img-out"></td>
            </tr>
            <tr>
                <td><img src="assets/er-lr-3.png" class="img-er"></td>
                <td><img src="assets/out-lr-3.png" class="img-out"></td>
            </tr>
        </tbody>
    </table>

    <!--  -->
</div>



<div>
    <h1>Test</h1>
    <p>
        Test ANN after learning.
    </p>

    <table class="">
        <thead>
            <tr>
                <th>ERRORS</th>
                <th>Outputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="assets/er-tst-0.png" class="img-er"></td>
                <td><img src="assets/out-tst-0.png" class="img-out"></td>
            </tr>
        </tbody>
    </table>
    <p>
        Start learn ANN with new data (testing data)
    </p>
    <table class="">
        <thead>
            <tr>
                <th>ERRORS</th>
                <th>Outputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="assets/er-tst-lrn-1.png" class="img-er"></td>
                <td><img src="assets/out-tst-lrn-1.png" class="img-out"></td>
            </tr>
            <tr>
                <td><img src="assets/er-tst-lrn-2.png" class="img-er"></td>
                <td><img src="assets/out-tst-lrn-2.png" class="img-out"></td>
            </tr>
            <tr>
                <td><img src="assets/er-tst-lrn-3.png" class="img-er"></td>
                <td><img src="assets/out-tst-lrn-3.png" class="img-out"></td>
            </tr>
        </tbody>
    </table>

    <!--  -->
</div>


<div>
    <h1>Validate</h1>
    <p>
        Validate ANN after learning with testing data.
    </p>

    <table class="">
        <thead>
            <tr>
                <th>ERRORS</th>
                <th>Outputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="assets/er-val-0.png" class="img-er"></td>
                <td><img src="assets/out-val-0.png" class="img-out"></td>
            </tr>
        </tbody>
    </table>
    <p>
        Start learn ANN with new data (validate data)
    </p>
    <table class="">
        <thead>
            <tr>
                <th>ERRORS</th>
                <th>Outputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="assets/er-val-lrn-1.png" class="img-er"></td>
                <td><img src="assets/out-val-lrn-1.png" class="img-out"></td>
            </tr>
            <tr>
                <td><img src="assets/er-val-lrn-2.png" class="img-er"></td>
                <td><img src="assets/out-val-lrn-2.png" class="img-out"></td>
            </tr>
            <tr>
                <td><img src="assets/er-val-lrn-5.png" class="img-er"></td>
                <td><img src="assets/out-val-lrn-5.png" class="img-out"></td>
            </tr>
        </tbody>
    </table>

    <!--  -->
</div>


<div>
    <h1>Results</h1>
    <table class="">
        <thead>
            <tr>
                <th>#</th>
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Learn</td>
                <td class="col-50"><img src="assets/all-lrn.gif" width="500" height="500" class="img-out"></td>
            </tr>
            <tr>
                <td>Test</td>
                <td class="col-50"><img src="assets/all-tst.gif" width="500" height="500" class="img-out"></td>
            </tr>
            <tr>
                <td>Validate</td>
                <td class="col-50"><img src="assets/all-val.gif" width="500" height="500" class="img-out"></td>
            </tr>
            <tr>
                <td>Errors</td>
                <td class="col-50"><img src="assets/all-errors.gif" width="500" height="500" class="img-out"></td>
            </tr>
        </tbody>
    </table>

    <!--  -->
</div>