<puz-app-btc-chart></puz-app-btc-chart>
<hr/>
<mat-tab-group class="demo-tab-group">
  <mat-tab label="Data set" [disabled]="data_set_tab | async">
    <div class="demo-tab-content">
      <puz-app-tab-1></puz-app-tab-1>
    </div>
  </mat-tab>
  <mat-tab label="Neural Network" [disabled]="neural_tab | async">
    <div class="demo-tab-content">
      <puz-app-tab-2></puz-app-tab-2>
    </div>
  </mat-tab>
  <mat-tab label="Learning process">
    <puz-app-tab-3></puz-app-tab-3>
  </mat-tab>
  <mat-tab label="Information">
    <puz-app-tab-4></puz-app-tab-4>
  </mat-tab>
  <mat-tab label="Simulation" [disabled]="simulation_tab | async">
    <puz-app-tab-5></puz-app-tab-5>
  </mat-tab>
</mat-tab-group>
<hr/>

<!-- LEARN  -->
<button mat-fab color="primary" (click)="build_ann()" *ngIf="!reset">Build</button>
<button mat-fab color="primary" (click)="reset_func()" *ngIf="reset">Reset</button>
<button mat-fab color="warn" (click)="learn_ann()" *ngIf="start">Learn</button>
<button mat-fab color="warn" (click)="stop()" *ngIf="!start">Stop</button>
<button mat-fab color="accent" (click)="test_ann()">Test</button>
<span> EPOC : {{EPOC_NUM | async}}</span>
<!-- <button mat-fab color="accent" (click)="validate_ann()">validate</button> -->

<div class="chart-container tm-5">
  <div class="left" #learnERR></div>
  <div class="left" #learnOut></div>
</div>

<!-- TEST -->
<!-- SEE IF WE WANT MAKE LEARN FROM TEST DATA !! -->
<div class="chart-container clrear tm-5">
  <div class="left" #testERR></div>
  <div class="left" #testOut></div>
</div>



<!-- VALIDATE -->
<!-- <button mat-fab color="warn" (click)="test_ann(true)">learn</button> -->
<!-- <div class="chart-container tm-5">
  <div class="left" #validateERR></div>
  <div class="left" #validatetOut></div>
</div> -->