

/* .chart-container canvas{
    display: block;
} */

.btn-group .btn {
    display:  block;
}

.chart-container {
    width: 100%;
    margin: auto;
    display: block;
}

.left{
    float: left;
    border: 1px solid red;
}

.clrear{
    clear: both;
}