<div class="cotainer">
  <div class="col-30">
    <h4>Data set</h4>
    <ul>
      <li>{{Dataset.stock}}</li>
      <li>{{Dataset.start}}</li>
      <li>{{Dataset.end}}</li>
    </ul>
  </div>
  <div class="col-40">
    <h4>ANN</h4>
    <ul>
      <li>Bias :{{ ANN.bias }}</li>
      <li>Activation function :{{ ANN.actv_func }}</li>
      <li>Input number :{{ ANN.input_num }}</li>
      <li>Layers number :{{ ANN.layers_num }}</li>
      <li>Output number :{{ ANN.output_num }}</li>
    </ul>
  </div>
  <div class="col-30">
    <h4>Learning info</h4>
    <ul>
      <li>Laarning Algo. :{{ learnigAlgo.learning_algo }}</li>
      <li>Learning rate :{{ learnigAlgo.learning_rate }}</li>
      <li>EPOCS : {{ learnigAlgo.epoc }}</li>
    </ul>
  </div>
</div>