.chart-container {
    /* border: 1px dashed red; */
    position: relative;
    margin: auto ;
    height: 80vh;
    width: 80vw;
}

li {
    list-style: none; 
}

mat-form-field{
    margin-left: 0px;
    width: 80%;
}