<!-- <mat-grid-list cols="12" rowHeight="100px">
    
      <mat-grid-tile [colspan]="2" [rowspan]="8" [style.background]="'#DDBDF1'">
        <ul>
          <li>
            <mat-form-field class="full-width">
              <mat-select placeholder="Stock market" [(ngModel)]="DataSet.stock">
                <mat-option *ngFor="let state of stock_logo" [value]="state.index">
                  <img style="vertical-align:middle;" aria-hidden src="{{state.url}}" height="25" />
                  <span>{{ state.index }}</span> | <small>{{state.name}} </small>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field class="full-width">
              <input matInput [(ngModel)]="DataSet.start" [matDatepicker]="dp1" placeholder="Start date">
              <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>
          </li>
    
          <li>
            <mat-form-field class="full-width">
              <input matInput [(ngModel)]="DataSet.end" [matDatepicker]="dp2" placeholder="End date">
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2></mat-datepicker>
            </mat-form-field>
          </li>
    
          <li>
            <button mat-raised-button color="accent" (click)="draw_chart_btc_chart()">Draw BTC</button>
          </li>
    
        </ul>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="10" [rowspan]="8" [style.background]="">
        <div class="chart-container">
        </div>
      </mat-grid-tile>
    
    </mat-grid-list> -->