.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
    width: 90%;
    margin: 50px auto;
}

img{
    max-height: 64px;
    max-height: 64px;
}

.center {
    width: 30%;
    margin: auto;
}

.content-center{
    width: 50%;
    margin: auto;
}

/***
 * Card
 *
 */
.example-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
    /* max-width: 400px; */
}


.header-image {
    background-image: url('https://salem-albarudy.pl/assets/img/logo.png');
    background-size: cover;
    width:  64px;
    height: 64px;
    /* text-align: center; */
}