@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.tm-1{
    margin-top: 10px;
}

.tm-2{
    margin-top: 20px;
}

.tm-3{
    margin-top: 30px;
}

.tm-4{
    margin-top: 40px;
}

.tm-5{
    margin-top: 50px;
}

.lm-1{
    margin-left: 1px;
}

.lm-2{
    margin-left: 2px;
}

.lm-3{
    margin-left: 3px;
}

.lm-4{
    margin-left: 4px;
}

.lm-15{
    margin-left: 15px;
}

.bm-5{
    margin-bottom: 5px; 
}

.col-10{
 width: 10%;
}
.col-20{
 width: 20%;
}
.col-30{
 width: 30%;
}
.col-40{
 width: 40%;
}
.col-50{
 width: 50%;
}
.col-58{
    width: 58%;
}
.col-60{
 width: 60%;
}
.col-70{
 width: 70%;
}
.col-80{
 width: 80%;
}
.col-90{
 width: 90%;
}
.col-100{
 width: 100%;
}

.col-10,.col-20,.col-30,.col-40,.col-50,.col-58,.col-60,.col-70,.col-80,.col-90,.col-100{
    float: left;    
}

.full-width {
    width: 100%;
}

svg.neural {
    border: solid 1px red;
}

text {
    pointer-events: none;
}

.node:hover {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 4px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}