<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="container">


  <mat-form-field class="full-width">
    <mat-select placeholder="Learning Algorytm" formControlName="learning_algo" [(ngModel)]="learningAlgo.learning_algo">
      <mat-option *ngFor="let algo of algo_list" [value]="algo.value">
        {{ algo.viewValue }} | <small>{{algo.desc}}</small>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Learning rate" formControlName="learning_rate" [(ngModel)]="learningAlgo.learning_rate" />
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Number of Epocs" formControlName="epoc" [(ngModel)]="learningAlgo.epoc" />
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Tolerance of error" formControlName="error_tolerance" [(ngModel)]="learningAlgo.error_tolerance" />
  </mat-form-field>

  <mat-form-field class="">
    <input matInput placeholder="Interval of iterations" formControlName="iteration_interval" [(ngModel)]="learningAlgo.iteration_interval" />
    <span matSuffix> sec.</span>  
  </mat-form-field>
  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">save</button> -->
  <!-- <button mat-raised-button color="warn" (click)="reset()" dir="auto">reset</button> -->
</form>