<div class="cotainer">
  <div class="col-40">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="container">

      <mat-checkbox formControlName="bias" [(ngModel)]="ANN.bias">
        Bias
      </mat-checkbox>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Input number" formControlName="input_num" [(ngModel)]="ANN.input_num" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Number of layers / Neurons number per layer / Separate each number with ;" formControlName="layers_num"
          [(ngModel)]="ANN.layers_num" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Output number" formControlName="output_num" [(ngModel)]="ANN.output_num" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Activation function" formControlName="actv_func" [(ngModel)]="ANN.actv_func">
          <mat-option *ngFor="let func of activ_func" [value]="func.value">
            {{ func.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!formGroup.valid">save</button> -->
      <!-- <button mat-raised-button color="warn" (click)="reset()" dir="auto">reset</button> -->      
      <button mat-raised-button color="warn" (click)="onHidde()" dir="auto">show</button>      
    </form>

  </div>

  <div class="col-58 lm-15" *ngIf="hidde">
    <div id="neural-svg"></div>
  </div>
</div>